// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

#header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(26,58,26,1) 90%);
    #navbar {
        ul {
			&.navigation {			
				li {
					a {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}